<!DOCTYPE html>
<html lang="en">
  @@include('../partials/head/head.html')

  <body>
    <header>@@include('../partials/components/header.html')</header>
    <main>
      @@include('../partials/components/section_top.html')
      @@include('../partials/components/section_ipad.html')
      @@include('../partials/components/section_details.html')
      @@include('../partials/components/section_progects.html')
      @@include('../partials/components/section_services.html')
      @@include('../partials/components/section_impressed.html')
      @@include('../partials/components/section_portfolio.html')
      @@include('../partials/components/section_team.html')
      @@include('../partials/components/section_team_bottom.html')
      @@include('../partials/components/section_testimonials.html')
      @@include('../partials/components/section_news.html')
      @@include('../partials/components/section_price.html')
      @@include('../partials/components/section_subscribe.html')
      @@include('../partials/components/section_contact.html')
      @@include('../partials/components/section_form.html')
      @@include('../partials/components/section_map.html')
    </main>
    <footer>@@include('../partials/components/footer.html')</footer>
    @@include('../partials/scripts/common.html')
  </body>
</html>
