<header class="header container">
  <div class="header_wrapper">
    <div class="logo">
      <a href="#">
        <img src="/images/logo.png" alt="logo" />
      </a>
    </div>
    <nav class="nav">
      <ul class="nav_menu">
        <li class="nav_menu_item">
          <a href="#">hello</a>
        </li>
        <li class="nav_menu_item">
          <a href="#">about</a>
        </li>
        <li class="nav_menu_item">
          <a href="#">services</a>
        </li>
        <li class="nav_menu_item">
          <a href="#">portfolio</a>
        </li>
        <li class="nav_menu_item">
          <a href="#">team</a>
        </li>
        <li class="nav_menu_item">
          <a href="#">blog</a>
        </li>
        <li class="nav_menu_item">
          <a href="#">contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
