<div class="section_form container">
  <form action="/my-handling-form-page" method="post">
    <ul>
      <li>
        <input type="text" id="name" name="user_name" placeholder="Your name" />
      </li>
      <li>
        <input
          type="email"
          id="mail"
          name="user_mail"
          placeholder="Email address"
        />
      </li>
      <li>
        <input
          type="text"
          id="subject"
          name="user_name"
          placeholder="Subject"
        />
      </li>
    </ul>
    <textarea id="msg" name="user_message" class="textarea"></textarea>
    <button type="button" class="button">submit now</button>
  </form>
</div>
