<div class="section_portfolio container">
  <div class="section_title">
    <h2>the porfolio</h2>
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium
    </p>
  </div>
  <div class="section_portfolio_nav">
    <ul class="section_portfolio_nav_menu">
      <li class="section_portfolio_nav_menu_item">
        <a href="#">All Works</a>
      </li>
      <li class="section_portfolio_nav_menu_item">
        <a href="#">Print</a>
      </li>
      <li class="section_portfolio_nav_menu_item">
        <a href="#">Identity</a>
      </li>
      <li class="section_portfolio_nav_menu_item">
        <a href="#">Branding</a>
      </li>
      <li class="section_portfolio_nav_menu_item">
        <a href="#">Web</a>
      </li>
      <li class="section_portfolio_nav_menu_item">
        <a href="#">HTML</a>
      </li>
      <li class="section_portfolio_nav_menu_item">
        <a href="#">Wordpress</a>
      </li>
    </ul>
  </div>
  <div class="section_portfolio_posts">
    <div class="section_portfolio_posts_column">
      <div class="section_portfolio_posts_column_inner">
        <div class="column_inner_layout">
          <h2>title here</h2>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium
          </p>
          <div class="button_icon">
            <a href="#">
              <img src="images/clip.png" alt="" />
            </a>
          </div>
          <div class="button_icon">
            <a href="#">
              <img src="images/hear.png" alt="" />
            </a>
          </div>
        </div>
        <a class="column_inner_link" href="#">
          <img src="images/layer86.jpg" alt="" />
        </a>
      </div>
      <div class="section_portfolio_posts_column_inner">
        <div class="column_inner_layout">
          <h2>title here</h2>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium
          </p>
          <div class="button_icon">
            <a href="#">
              <img src="images/clip.png" alt="" />
            </a>
          </div>
          <div class="button_icon">
            <a href="#">
              <img src="images/hear.png" alt="" />
            </a>
          </div>
        </div>
        <a class="column_inner_link" href="#">
          <img src="images/layer90.jpg" alt="" />
        </a>
      </div>
      <div class="section_portfolio_posts_column_inner">
        <div class="column_inner_layout">
          <h2>title here</h2>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium
          </p>
          <div class="button_icon">
            <a href="#">
              <img src="images/clip.png" alt="" />
            </a>
          </div>
          <div class="button_icon">
            <a href="#">
              <img src="images/hear.png" alt="" />
            </a>
          </div>
        </div>
        <a class="column_inner_link" href="#">
          <img src="images/layer92.jpg" alt="" />
        </a>
      </div>
    </div>
    <div class="section_portfolio_posts_column">
      <div class="section_portfolio_posts_column_inner">
        <div class="column_inner_layout">
          <h2>title here</h2>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium
          </p>
          <div class="button_icon">
            <a href="#">
              <img src="images/clip.png" alt="" />
            </a>
          </div>
          <div class="button_icon">
            <a href="#">
              <img src="images/hear.png" alt="" />
            </a>
          </div>
        </div>
        <a class="column_inner_link" href="#">
          <img src="images/layer87.jpg" alt="" />
        </a>
      </div>
      <div class="section_portfolio_posts_column_inner">
        <div class="column_inner_layout">
          <h2>title here</h2>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium
          </p>
          <div class="button_icon">
            <a href="#">
              <img src="images/clip.png" alt="" />
            </a>
          </div>
          <div class="button_icon">
            <a href="#">
              <img src="images/hear.png" alt="" />
            </a>
          </div>
        </div>
        <a class="column_inner_link" href="#">
          <img src="images/layer95.jpg" alt="" />
        </a>
      </div>
      <div class="section_portfolio_posts_column_inner">
        <div class="column_inner_layout">
          <h2>title here</h2>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium
          </p>
          <div class="button_icon">
            <a href="#">
              <img src="images/clip.png" alt="" />
            </a>
          </div>
          <div class="button_icon">
            <a href="#">
              <img src="images/hear.png" alt="" />
            </a>
          </div>
        </div>
        <a class="column_inner_link" href="#">
          <img src="images/layer96.jpg" alt="" />
        </a>
      </div>
    </div>
    <div class="section_portfolio_posts_column">
      <div class="section_portfolio_posts_column_inner">
        <div class="column_inner_layout">
          <h2>title here</h2>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium
          </p>
          <div class="button_icon">
            <a href="#">
              <img src="images/clip.png" alt="" />
            </a>
          </div>
          <div class="button_icon">
            <a href="#">
              <img src="images/hear.png" alt="" />
            </a>
          </div>
        </div>
        <a class="column_inner_link" href="#">
          <img src="images/layer91.jpg" alt="" />
        </a>
      </div>
      <div class="section_portfolio_posts_column_inner">
        <div class="column_inner_layout">
          <h2>title here</h2>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium
          </p>
          <div class="button_icon">
            <a href="#">
              <img src="images/clip.png" alt="" />
            </a>
          </div>
          <div class="button_icon">
            <a href="#">
              <img src="images/hear.png" alt="" />
            </a>
          </div>
        </div>
        <a class="column_inner_link" href="#">
          <img src="images/layer89.jpg" alt="" />
        </a>
      </div>
      <div class="section_portfolio_posts_column_inner">
        <div class="column_inner_layout">
          <h2>title here</h2>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium
          </p>
          <div class="button_icon">
            <a href="#">
              <img src="images/clip.png" alt="" />
            </a>
          </div>
          <div class="button_icon">
            <a href="#">
              <img src="images/hear.png" alt="" />
            </a>
          </div>
        </div>
        <a class="column_inner_link" href="#">
          <img src="images/layer94.jpg" alt="" />
        </a>
      </div>
    </div>
    <div class="section_portfolio_posts_column">
      <div class="section_portfolio_posts_column_inner">
        <div class="column_inner_layout">
          <h2>title here</h2>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium
          </p>
          <div class="button_icon">
            <a href="#">
              <img src="images/clip.png" alt="" />
            </a>
          </div>
          <div class="button_icon">
            <a href="#">
              <img src="images/hear.png" alt="" />
            </a>
          </div>
        </div>
        <a class="column_inner_link" href="#">
          <img src="images/layer88.jpg" alt="" />
        </a>
      </div>
      <div class="section_portfolio_posts_column_inner">
        <div class="column_inner_layout">
          <h2>title here</h2>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium
          </p>
          <div class="button_icon">
            <a href="#">
              <img src="images/clip.png" alt="" />
            </a>
          </div>
          <div class="button_icon">
            <a href="#">
              <img src="images/hear.png" alt="" />
            </a>
          </div>
        </div>
        <a class="column_inner_link" href="#">
          <img src="images/layer93.jpg" alt="" />
        </a>
      </div>
      <div class="section_portfolio_posts_column_inner">
        <div class="column_inner_layout">
          <h2>title here</h2>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium
          </p>
          <div class="button_icon">
            <a href="#">
              <img src="images/clip.png" alt="" />
            </a>
          </div>
          <div class="button_icon">
            <a href="#">
              <img src="images/hear.png" alt="" />
            </a>
          </div>
        </div>
        <a class="column_inner_link" href="#">
          <img src="images/layer97.jpg" alt="" />
        </a>
      </div>
    </div>
  </div>
  <div class="section_portfolio_bottom">
    <p>
      At vero eos et <span class="colorWhite">accusamus</span> et iusto odio
      <span class="colorWhite">dignissimos</span> ducimus qui blanditiis
    </p>
    <button class="button">
      <a href="#">start progects</a>
    </button>
  </div>
</div>
