<div class="section_testimonials container">
  <div class="section_title">
    <h2>Testimonials</h2>
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium
    </p>
  </div>
  <div class="swiper-container section_testimonials_slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="section_testimonials_photo">
          <img src="images/testim.jpg" alt="" />
        </div>
        <div class="section_testimonials_inner">
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia.
          </p>
          <span class="section_testimonials_inner_name">partho</span>
          <span class="section_testimonials_inner_position"
            >founder, artways bd</span
          >
        </div>
      </div>
      <div class="swiper-slide">
        <div class="section_testimonials_photo">
          <img src="images/testim.jpg" alt="" />
        </div>
        <div class="section_testimonials_inner">
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia.
          </p>
          <span class="section_testimonials_inner_name">partho</span>
          <span class="section_testimonials_inner_position"
            >founder, artways bd</span
          >
        </div>
      </div>
      <div class="swiper-slide">
        <div class="section_testimonials_photo">
          <img src="images/testim.jpg" alt="" />
        </div>
        <div class="section_testimonials_inner">
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia.
          </p>
          <span class="section_testimonials_inner_name">partho</span>
          <span class="section_testimonials_inner_position"
            >founder, artways bd</span
          >
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
