<div class="section_services container">
  <div class="section_title">
    <h2>our services</h2>
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium
    </p>
  </div>
  <div class="section_services_top">
    <div class="section_services_top_inner">
      <div class="section_aside">
        <ul class="aside_link">
          <li class="button_icon">
            <a href="#">
              <img src="images/tools.png" alt="" />
            </a>
          </li>
          <li class="button_icon">
            <a href="#">
              <img src="images/roller.png" alt="" />
            </a>
          </li>
          <li class="button_icon">
            <a href="#">
              <img src="images/joystick.png" alt="" />
            </a>
          </li>
          <li class="button_icon">
            <a href="#">
              <img src="images/socket.png" alt="" />
            </a>
          </li>
        </ul>
      </div>
      <div class="section_text">
        <h3>graphic design</h3>
        <p>
          At vero eos et accusamus et
          <span class="colorBlue">iusto</span> odio dignissimos
          <span class="colorBlack">ducimus</span> qui blanditiis praesentium
          voluptatum deleniti
        </p>
        <p class="small">
          quos dolores et quas molestias excepturi sint occaecati cupiditate non
          provident, <span class="colorBlue">similique sunt</span> in culpa qui
          officia deserunt mollitia animi, id est laborum et dolorum fuga.
        </p>
      </div>
    </div>
    <div class="section_services_top_inner">
      <section>
        <svg
          class="circle-chart"
          viewbox="0 0 33.83098862 33.83098862"
          width="124"
          height="124"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            class="circle-chart__background"
            stroke="#19bd9a"
            stroke-width="1"
            fill="none"
            cx="16.91549431"
            cy="16.91549431"
            r="15.91549431"
          />
          <circle
            class="circle-chart__circle"
            stroke="#047378"
            stroke-width="1"
            stroke-dasharray="20,100"
            stroke-linecap="round"
            fill="none"
            cx="16.91549431"
            cy="16.91549431"
            r="15.91549431"
          />
          <g class="circle-chart__info">
            <text
              class="circle-chart__percent"
              x="16.91549431"
              y="15.5"
              alignment-baseline="central"
              text-anchor="middle"
              font-size="7"
            >
              80%
            </text>
          </g>
        </svg>
      </section>
      <section>
        <svg
          class="circle-chart"
          viewbox="0 0 33.83098862 33.83098862"
          width="124"
          height="124"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            class="circle-chart__background"
            stroke="#19bd9a"
            stroke-width="1"
            fill="none"
            cx="16.91549431"
            cy="16.91549431"
            r="15.91549431"
          />
          <circle
            class="circle-chart__circle"
            stroke="#047378"
            stroke-width="1"
            stroke-dasharray="25,100"
            stroke-linecap="round"
            fill="none"
            cx="16.91549431"
            cy="16.91549431"
            r="15.91549431"
          />
          <g class="circle-chart__info">
            <text
              class="circle-chart__percent"
              x="16.91549431"
              y="15.5"
              alignment-baseline="central"
              text-anchor="middle"
              font-size="7"
            >
              75%
            </text>
          </g>
        </svg>
      </section>
      <section>
        <svg
          class="circle-chart"
          viewbox="0 0 33.83098862 33.83098862"
          width="124"
          height="124"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            class="circle-chart__background"
            stroke="#19bd9a"
            stroke-width="1"
            fill="none"
            cx="16.91549431"
            cy="16.91549431"
            r="15.91549431"
          />
          <circle
            class="circle-chart__circle"
            stroke="#047378"
            stroke-width="1"
            stroke-dasharray="40,100"
            stroke-linecap="round"
            fill="none"
            cx="16.91549431"
            cy="16.91549431"
            r="15.91549431"
          />
          <g class="circle-chart__info">
            <text
              class="circle-chart__percent"
              x="16.91549431"
              y="15.5"
              alignment-baseline="central"
              text-anchor="middle"
              font-size="7"
            >
              60%
            </text>
          </g>
        </svg>
      </section>
    </div>
  </div>
</div>
