<div class="section_progects container" id="progects">
  <div class="section_title">
    <h2>FEATURED PROJECTS</h2>
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium
    </p>
  </div>
  <div class="section_progects_inner">
    <div class="img_wrapper">
      <div class="layout">
        <p>vintage</p>
      </div>
      <a href="#">
        <img src="images/inner1.jpg" alt="" />
      </a>
    </div>
    <div class="img_wrapper">
      <div class="layout">
        <p>vintage</p>
      </div>
      <a href="#">
        <img src="images/inner2.jpg" alt="" />
      </a>
    </div>
    <div class="img_wrapper">
      <div class="layout">
        <p>branding</p>
      </div>
      <a href="#">
        <img src="images/inner3.jpg" alt="" />
      </a>
    </div>
  </div>
  <div class="section_progects_button container">
    <p>
      At vero eos et <span class="colorWhite">accusamus</span> et iusto odio
      dignissimos ducimus qui blanditiis
    </p>
    <button class="button">
      <a href="#">read more</a>
    </button>
  </div>
</div>
