<div class="section_contact container">
  <div class="section_title">
    <h2>contact us</h2>
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium
    </p>
  </div>
  <div class="section_contact_inner">
    <div class="section_contact_inner_item">
      <div class="bg_img bg_mail">
        <a href="#">
          <img src="images/mail.png" alt="" />
        </a>
      </div>
      <div class="discription">
        <b>email</b>
        <span>hello@codecafe.com</span>
        <span>Personal@codecafe.com</span>
      </div>
    </div>
    <div class="section_contact_inner_item">
      <div class="bg_img bg_office">
        <a href="#">
          <img src="images/map.png" alt="" />
        </a>
      </div>
      <div class="discription">
        <b>our office</b>
        <span>240 Bhatikhana, 8200 Barisal</span>
        <span>Bangladesh</span>
      </div>
    </div>
    <div class="section_contact_inner_item">
      <div class="bg_img bg_phone">
        <a href="#">
          <img src="images/phone.png" alt="" />
        </a>
      </div>
      <div class="discription">
        <b>phone</b>
        <span>+00 11 66 99 66 44</span>
        <span>11 99 66 44 065</span>
      </div>
    </div>
  </div>
</div>
