<div class="section_impressed container">
  <div class="section_impressed_bg">
    <h2>impressed ?</h2>
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium voluptatum deleniti atque corrupti quos dolores et quas
      molestias
    </p>
    <div class="bottom">
      <span class="name">-abdullan noman</span>
      <span class="position"
        >creative director, <u class="cafe">code cafe</u></span
      >
    </div>
  </div>
  <img src="images/mon.png" alt="" />
</div>
