<div class="section_details container">
  <div class="section_title">
    <h2>details about bouncy</h2>
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium
    </p>
  </div>
  <ul class="section_details_top_link">
    <li class="button_icon">
      <a href="#">
        <img src="../images/heard.png" alt="heard" />
      </a>
    </li>
    <li class="button_icon">
      <a href="#">
        <img src="../images/mouse.png" alt="heard" />
      </a>
    </li>
    <li class="button_icon">
      <a href="#">
        <img src="../images/bulb.png" alt="heard" />
      </a>
    </li>
  </ul>
  <div class="section_details_bottom">
    <h3>creative ideas</h3>
    <div class="section_details_bottom_text">
      <div class="section_details_bottom_text_item left">
        <p>
          At <span class="colorBlue">vero</span> eos et accusamus et iusto odio
          dignissimos <span class="colorBlack">ducimus</span> qui blanditiis
          praesentium voluptatum deleniti atque corrupti quos dolores
        </p>
      </div>
      <div class="section_details_bottom_text_item right">
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque
          <span class="colorBlack">corrupti quos</span> dolores et quas
          molestias <span class="colorBlue">excepturi</span> sint occaecati
          cupiditate non provident,
          <span class="colorBlack">similique</span>
          sunt in culpa qui officia deserunt mollitia animi, id est laborum et
          dolorum fuga. Et harum quidem r
        </p>
      </div>
    </div>
  </div>
</div>
