<div class="section_news container">
  <div class="section_title">
    <h2>latest news</h2>
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium
    </p>
  </div>
  <div class="swiper-vertical">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <h3>The trending Landing Pages</h3>
        <em>by Kabir Uddin</em>
        <small>6950 Likes - 243 Comments - 703 shares</small>
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          et quas molestias excepturi sint occaecati cupiditate non provident,
          similique sunt in culpa qui officia deserunt mollitia animi, id est
          laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
          distinctio...
        </p>
        <a href="#">+ Read More</a>
      </div>
      <div class="swiper-slide">
        <h3>The trending Landing Pages</h3>
        <em>by Kabir Uddin</em>
        <small>6950 Likes - 243 Comments - 703 shares</small>
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          et quas molestias excepturi sint occaecati cupiditate non provident,
          similique sunt in culpa qui officia deserunt mollitia animi, id est
          laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
          distinctio...
        </p>
        <a href="#">+ Read More</a>
      </div>
      <div class="swiper-slide">
        <h3>The trending Landing Pages</h3>
        <em>by Kabir Uddin</em>
        <small>6950 Likes - 243 Comments - 703 shares</small>
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          et quas molestias excepturi sint occaecati cupiditate non provident,
          similique sunt in culpa qui officia deserunt mollitia animi, id est
          laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
          distinctio...
        </p>
        <a href="#">+ Read More</a>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>
