<div class="section_price container">
  <div class="section_title">
    <h2>our price</h2>
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium
    </p>
  </div>
  <div class="section_price_inner">
    <div class="section_price_inner_item">
      <div class="section_price_inner_item_title">
        <b>premium</b>
      </div>
      <div class="section_price_inner_item_month">
        <strong>$ 60</strong>
        <span>per month</span>
      </div>
      <div class="section_price_inner_item_hover">
        <div class="hover_top">
          <p>Full Branding</p>
          <p>Project Management</p>
          <p>Unlimited Revisions</p>
          <p>24/7 h Service</p>
          <p>Free Domain</p>
          <p>Free Hosting</p>
        </div>
        <div class="hover_bottom">
          <a href="#">Let’s Start</a>
        </div>
      </div>
    </div>
    <div class="section_price_inner_item">
      <div class="section_price_inner_item_title">
        <b>exclusive</b>
      </div>
      <div class="section_price_inner_item_month">
        <strong>$ 80</strong>
        <span>per month</span>
      </div>
      <div class="section_price_inner_item_hover">
        <div class="hover_top">
          <p>Full Branding</p>
          <p>Project Management</p>
          <p>Unlimited Revisions</p>
          <p>24/7 h Service</p>
          <p>Free Domain</p>
          <p>Free Hosting</p>
        </div>
        <div class="hover_bottom">
          <a href="#">Let’s Start</a>
        </div>
      </div>
    </div>
    <div class="section_price_inner_item">
      <div class="section_price_inner_item_title">
        <b>exclusive</b>
      </div>
      <div class="section_price_inner_item_month">
        <strong>$ 80</strong>
        <span>per month</span>
      </div>
      <div class="section_price_inner_item_hover">
        <div class="hover_top">
          <p>Full Branding</p>
          <p>Project Management</p>
          <p>Unlimited Revisions</p>
          <p>24/7 h Service</p>
          <p>Free Domain</p>
          <p>Free Hosting</p>
        </div>
        <div class="hover_bottom">
          <a href="#">Let’s Start</a>
        </div>
      </div>
    </div>
  </div>
</div>
