<div class="section_team container">
  <div class="section_title">
    <h2>the team</h2>
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium
    </p>
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="section_team_photo">
          <img src="images/team.jpg" alt="" />
        </div>
        <div class="skills" data-scrollbar>
          <h3>Abdullah Noman</h3>
          <em>Creative Director, Code Cafe</em>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium
          </p>
          <div class="progress">
            <div class="progress_item">
              <div class="title">
                <span>branding</span>
                <span>80 %</span>
              </div>
              <div class="band">
                <span class="brand"></span>
              </div>
            </div>
            <div class="progress_item">
              <div class="title">
                <span>web design</span>
                <span>65 %</span>
              </div>
              <div class="band">
                <span class="web"></span>
              </div>
            </div>
            <div class="progress_item">
              <div class="title">
                <span>user interface</span>
                <span>75 %</span>
              </div>
              <div class="band">
                <span class="user"></span>
              </div>
            </div>
            <div class="progress_item">
              <div class="title">
                <span>user interface</span>
                <span>75 %</span>
              </div>
              <div class="band">
                <span class="user"></span>
              </div>
            </div>
            <div class="progress_item">
              <div class="title">
                <span>user interface</span>
                <span>75 %</span>
              </div>
              <div class="band">
                <span class="user"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="section_team_photo">
          <img src="images/team.jpg" alt="" />
        </div>
        <div class="skills" data-scrollbar>
          <h3>Abdullah Noman</h3>
          <em>Creative Director, Code Cafe</em>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium
          </p>
          <div class="progress">
            <div class="progress_item">
              <div class="title">
                <span>branding</span>
                <span>80 %</span>
              </div>
              <div class="band">
                <span class="brand"></span>
              </div>
            </div>
            <div class="progress_item">
              <div class="title">
                <span>web design</span>
                <span>65 %</span>
              </div>
              <div class="band">
                <span class="web"></span>
              </div>
            </div>
            <div class="progress_item">
              <div class="title">
                <span>user interface</span>
                <span>75 %</span>
              </div>
              <div class="band">
                <span class="user"></span>
              </div>
            </div>
            <div class="progress_item">
              <div class="title">
                <span>user interface</span>
                <span>75 %</span>
              </div>
              <div class="band">
                <span class="user"></span>
              </div>
            </div>
            <div class="progress_item">
              <div class="title">
                <span>user interface</span>
                <span>75 %</span>
              </div>
              <div class="band">
                <span class="user"></span>
              </div>
            </div>
            <div class="progress_item">
              <div class="title">
                <span>user interface</span>
                <span>75 %</span>
              </div>
              <div class="band">
                <span class="user"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="section_team_photo">
          <img src="images/team.jpg" alt="" />
        </div>
        <div class="skills" data-scrollbar>
          <h3>Abdullah Noman</h3>
          <em>Creative Director, Code Cafe</em>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium
          </p>
          <div class="progress">
            <div class="progress_item">
              <div class="title">
                <span>branding</span>
                <span>80 %</span>
              </div>
              <div class="band">
                <span class="brand"></span>
              </div>
            </div>
            <div class="progress_item">
              <div class="title">
                <span>web design</span>
                <span>65 %</span>
              </div>
              <div class="band">
                <span class="web"></span>
              </div>
            </div>
            <div class="progress_item">
              <div class="title">
                <span>user interface</span>
                <span>75 %</span>
              </div>
              <div class="band">
                <span class="user"></span>
              </div>
            </div>
            <div class="progress_item">
              <div class="title">
                <span>user interface</span>
                <span>75 %</span>
              </div>
              <div class="band">
                <span class="user"></span>
              </div>
            </div>
            <div class="progress_item">
              <div class="title">
                <span>user interface</span>
                <span>75 %</span>
              </div>
              <div class="band">
                <span class="user"></span>
              </div>
            </div>
            <div class="progress_item">
              <div class="title">
                <span>user interface</span>
                <span>75 %</span>
              </div>
              <div class="band">
                <span class="user"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
